@model WebApplicationPhoneBook.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}

<p2>Редактирование пользователя</p2>

<form asp-action="Edit" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Login" class="control-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
</form>